{% extends "base.html" %}

{% block title %}About - Ludington Post{% endblock %}

{% block content %}
<h2>About Us</h2>
<p>
    In the modern world there is so much information flying around that it can be hard
    to keep up with it all. That's where we come in. Pick a topic and search quickly search
    a number of News related RSS feeds, get an AI generated summary of all of the related articles.

    We also know that being able to verify the information you are reading is as important as finding it. 
    That's why we also provide a list of sources for each article so you can verify the information yourself.
</p>
{% endblock %}
